body {
    font: 14px "Lato", sans-serif;
    color: white;
    padding: 0px;
    margin: 0px;
}

#body-color {
    background-color: black;
}

a {
    color: white;
    text-decoration: none !important;
}

h1 {
    font: 14px "Lato", sans-serif;
    color: white;
}

#container {
    background-color: black;
    height: 100%;
    width: 100%;
}

#header {
    border-bottom: 1px solid;
    border-color: white;
}

#row {
    width: 10px;
}

/* Library related */
#library {
    position: absolute;
    top: 0px;
    z-index: 1;
    background-color: black;
    height: 100vh;
    font: 14px "Lato", sans-serif;
    color: white;
    padding-right: 0px;
    width: 250px;
}

.icon {
    height: 70px;
}

.icon-tab {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: black;
}

.icon-tab:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.active {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    text-decoration: none !important;
}

#logo-container {
    text-align: center;
    justify-content: center;
    margin-left: 25px;
}

#logo {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* preview panel */

#preview {
    background-color: #292929;
    height: 100vh;
    width: 100%;
    font: 14px "Lato", sans-serif;
    border-left: 1px solid;
    color: white;
    padding-bottom: 20px;
}

div#preview-container {
    margin-left: 100px;
    margin-right: 100px;
}

#demo-title {
    margin-bottom: 0px;
    padding-bottom: 10px;
    color: white;
}

#launch-demo {
    margin-top: 100px;
}

#launch-btn {
    margin-top: 25px;
    font-size: 28px;
    height: 75px;
    width: 25%;
}

#description {
    width: 500px;
}

#desc-text {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

#title {
    position: relative;
    margin-top: -60px;
}

/*image preview*/

#thumbs {
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#thumbs a {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

#img-thumb img {
    min-height: 100px;
    max-height: 300px;
    height: 150px;
}

.btn-secondary {
    color: #ffffff;
    background-color: #777;
    border-color: #555;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary {
    color: #ffffff;
    background-color: #888;
    border-color: #444;
}
